.main{
    width: 1000px;
    height: 300px;
    box-shadow: inset 0px 0px 20px 2px blue;
}

/* h1{
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 0px 5px  blue;
} */
body{
    margin: 0px;
    padding: 0px;
}
.project{
    width: 100%;
    height: 500px;
    background-color: #3b516b;
    color: white;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}
.project_mid{
    width: 1320px;
    height: auto;
} 
